.header {
  height: 200px;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, rgb(45,45,45) 0%, rgb(0, 0, 0) 100%);
  padding-top: 50px;
  text-align: center !important;
  align-items: center !important;
  justify-items: center !important;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.text-center {
  text-align: center !important;
  align-items: center !important;
  justify-items: center !important;


}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 1px solid #ffffff89;
  border-radius: 10px;
  padding: 40px;
  background: radial-gradient(circle at 50% 50%, rgb(10,10,10) 0%, rgb(0, 0, 0) 95.2%);
}



.inputField{
  color: #54b3fd;
}

.sticky {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  margin-bottom: 20;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px #808080;
  


}
html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: rgb(33,33,33);
  background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 100%);  

}



.input-group {
  margin-left: -5px !important;
}

.card-outer {
  padding: 10px;
  border-radius: 20px !important;
  margin-top: -15px !important;



}

.card-body {
  border-radius: 10px !important;

}
.ag{
  background-image: linear-gradient( 169deg, #54b3fd 31%, #904eff 51%, #ef39fe 73% );
  -webkit-background-clip: text;
  color: transparent;
}

.aa{
  background-image: linear-gradient( -100deg, #54b3fd 31%, #904eff 51%, #ef39fe 73% );
  -webkit-background-clip: text;
  color: transparent;
}

.card {
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid;
  box-shadow: 0px 2px 2px #a4a4a4;
  position: absolute;
  border-radius: 20px ;


}
.taskCard{
  background: rgb(42, 42, 42) !important;

}

.number {
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 15;
  box-shadow: 0px 2px 5px #808080;
  border-radius: 50px !important;
  border-width: 0px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  color: black !important;
  font-weight: 600 !important;


}

.button-new {
  border-radius: 20px !important;
  margin-left: 15px;
  margin-top: 15px;
}

.card-body {
  /* background-color: antiquewhite; */
  padding-left: 50px !important;
  padding-right: 25px !important;
}

.card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #7e7e7e;

}

.card-wrapper {
  width: 270px;
  height: 200px;
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
}

.header-text {
  background-color: #E9EEF6;
  border-radius: 10px;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding: 40px 100px;
}